*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movie-card {
    border-radius: 5px;
    position: relative;
    display: flex;
    width: 250px;
    height: 380px;
    margin: 10px;
}
.content-rating{
    color: white;
    border-radius: 10px;
    background-color: red;padding: 7px 12px;

}
.bottom{
    color: black;
    width: 100%;padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details {
    border-radius: 5px;
    position: absolute;
    bottom:0;
    width: 100%;
    display: none;
    background-color: white;
}
.movie-card:hover .details{
    display: block;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.title {
    color: black;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.image {border-radius: 10px;
    width: 100%;
}